@model IEnumerable<ASM.Models.MonAn>

@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="container"style="margin-top:50px;">
    <center>
        <h1 class="font-weight-bold">Chào mừng bạn đến với nhà hàng của chúng tôi</h1>
    </center>
</div>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/banner/baner11.png" alt="First slide" style="height:500px">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/banner/banner12.jpg" alt="Second slide" style="height:500px">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/banner/banner13.jpg" alt="Third slide" style="height:500px">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/banner/banner14.jpg" alt="Third slide" style="height:500px">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <center>
        <h1 class="font-weight-bold"><br />Danh sách món ăn</h1>
    </center>
</div>
<style>
    .font-weight-bold {
        margin-top: -50px;
        background: linear-gradient(to right, #0e0e0e, #4e0c0c);
    }
    .list-product {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .product {
        margin-top: 10px;
        margin-right: 10px;
        width: 205px;
    }

    .img {
        width: 150px;
        height: 100px;
        display: block;
        margin: auto;
    }

    .title {
        color: #0e0e0e;
        display: block;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        height: 60px;
    }

    .field-price {
        font-size: 24px;
        color: #d50000;
        margin-bottom: 15px;
        font-weight: 700;
        text-align: center;
    }

    .viewProduct, .addProduct {
        border: 0;
        font-weight: 700;
        padding: 9px 5px;
        background: #ffd800;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: block;
        width: 186px;
        margin: 0 auto;
        color: #0e0e0e;
    }

    .img-responsive {
        width: 200px;
        height: 150px;
    }

    .addProduct {
        margin-left: 2px;
    }
</style>
<div class="container">
    <div class="list-product">
        @foreach (var item in Model)
        {
            <div class="product">
                <img src="~/images/monan/@item.Hinh" class="img-responsive" />
                <span class="title">@item.Name</span>
                <div class="field-price">@item.Gia</div>
                <a class="addProduct text-center" href="javascript:addCart(@item.MonAnID);">
                    Add order <img id="imgBusy_@item.MonAnID" src="~/images/busy.gif" style="display:none" />
                </a>
            </div>
        }
    </div>
</div>
<script>
    function addCart(id) {
        $("#imgCart").attr("src", '/images/cartA.png');
        $("#imgBusy_" + id).show();
        setTimeout(function () {
            $.ajax({
                url: "/Home/AddCart?Id=" + id,
                type: "Post",
                success: function (result) {
                    /*alert(result);*/
                },
                error: function (e) {
                    alert(this.url);
                }
            });
            $("#imgBusy_" + id).hide();
        }, 500);
    }
</script>
