@using ASM.Models

@using Microsoft.AspNetCore.Http

@using Microsoft.AspNetCore.Http.Extensions

@using ASM.Constant

@{string userName = Context.Session.GetString(SessionKey.Nguoidung.UserName);}

@{string fullName = Context.Session.GetString(SessionKey.Nguoidung.FullName);}

<ul class="navbar-nav">
    @if (userName != null && userName != "")
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark">Chào @fullName!</a>
        </li>
        <li class="nav-item">
            <form asp-area="" asp-controller="Admin" asp-action="Logout" method="post" id="logoutForm">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Thoát</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" href="/Admin/Login">Login</a>
        </li>
    }
</ul>