@using ASM.Models

@using Microsoft.AspNetCore.Http

@using Microsoft.AspNetCore.Http.Extensions

@using ASM.Constant

@{ string userName = Context.Session.GetString(SessionKey.Nguoidung.UserName);}

@if (userName != null && userName != "")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Nguoidung" asp-action="Index">Quản trị</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="MonAn" asp-action="Index">Món ăn</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Donhang" asp-action="Index">Đơn hàng</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Khachhang" asp-action="Index">Khách hàng</a>
    </li>
}